*.log
*.xml
*.cfg
!*.exe
!*.dll
!*.pdb
cpuz.ini
node_modules
Oray
CrystalDiskInfo/Smart
RegistryWorkshop/RegWorkshop.ini
RegistryWorkshop/undo.dat
RegistryWorkshop/undo.idx
RegSeeker/history.txt
Everything/*.db
Everything/*.ini
Everything/*.csv
