*.log
*.xml
*.cfg
!*.exe
!*.dll
!*.pdb
cpuz.ini
node_modules
CrystalDiskInfo/Smart
RegistryWorkshop/RegWorkshop.ini
RegistryWorkshop/undo.dat
RegistryWorkshop/undo.idx
RegSeeker/history.txt
