!*.exe
!*.dll
!*.pdb
node_modules/
.vs/
balenaEtcher/
nps/
rats-search/
RegistryWorkshop/
*.log
Calibre Portable/Calibre Library
Calibre Portable/Calibre Settings/caches
Calibre Portable/Calibre Settings/*.json
Calibre Portable/Calibre Settings/viewer/annots
CrystalDiskInfo/Smart
CrystalDiskInfo/DiskInfo.ini
Dism++/Config/Dism++.log
ProduKey/ProduKey.cfg
Dism++/Config/Config.ini
RightMenuMgr/BackUp
LocaleEmulator/LEVersion.xml
